boto3
cloudpickle
docker
efficientnet-pytorch
fiftyone
matplotlib
mlflow
numpy
omegaconf
opencv-python-headless
Pillow
pycocotools
pytorch-lightning
requests
scikit-learn
segmentation-models-pytorch @ git+https://github.com/qubvel/segmentation_models.pytorch@ad3e5c1273465e6a45f715a4852fdf76811e29f5
tensorboard
torch
torchvision
tqdm